.App {
  height: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.App > .column {
  width: 50%;
  height: 100%;
}

.App > .column:not(:last-child) {
  border-right: thin solid black;
}

.App > .column > * {
  height: 100%;
}
